/*

PALETTE 


sul verde
verde scuro #0D9488
verde chiaro #50E3C2
grigio scuro quasi nero #111827
verde sbiadito #E0FCF0


sul verde acqua
verde acqua scuro #0D9488
verde acqua chiaro #50E3C2
blu scuro quasi nero #111827
verde acqua sbiadito #E0FCF0


sul blu
blu scuro #0369A1
blu chiaro #60A5FA
blu scuro quasi nero #1F2937
blu sbiadito #F0F9FF
blu sbiadito leggermente piu scuro #ced6db


sul viola
viola scuro #7C3AED
viola chiaro #A78BFA
grigio scuro quasi nero #111827
rosa sbiadito #FDF7FF

*/

:root {

    --theme: #0369A1;
    --light-theme: #60A5FA;
    --lightest-theme: #F0F9FF;
    --off-page-theme: #ced6db;
    --dark-theme: #1F2937;
    --header-height: 100px;
    --footer-height: 40px;
    --main-height: calc(100vh - (var(--header-height) + var(--footer-height)));
    --title-size: 1.5em;
    --subtitle-size: 1em;
    --corpo-size: 0.8em;
    --description-size: 0.5em;

}

.text-page-size {
    font-size: 2em;

}

.blur-xsm {
    filter: blur(0px);
    -webkit-filter: blur(3px);


}

/*custom border*/

.border-theme {
    border: 2px solid var(--theme)
}

.border-light-theme {
    border: 2px solid var(--light-theme)
}

.border-dark-theme {
    border: 2px solid var(--dark-theme)
}

.border-lightest-theme {
    border: 2px solid var(--lightest-theme)
}

h1 {
    font-size: var(--title-size)
}

h2 {
    font-size: var(--subtitle-size)
}

p {
    font-size: var(--corpo-size)
}

h3 {
    font-size: var(--description-size)
}

.nav-icon {
    max-height: var(--title-size);
    margin: auto;
}

main {
    box-shadow: 0px -5px 10px var(--theme);
}

section {
    padding: 20px
}

.home-icon {
    width: 30%;
    margin-left: 40px;
    align-items: center;

}

.home-paragraph {
    margin: 120px 10px;
    max-width: 500px;
}

.home-corpo {
    max-width: 600px;
}

.input {
    border: 2px solid var(--dark-theme)
}

.input:focus {
    border: 4px solid var(--dark-theme)
}

.animation-wrapper {
    width: 50%;
    padding-bottom: 50%;
}

.sphere-animation {
    width: 580px;
    height: 580px;
    margin: 0 auto
}

.sphere path {
    fill: url(#sphereGradient);
    stroke-width: 3px;
    stroke: var(--light-theme);
    backface-visibility: hidden;
}

@media (min-width: 500px) {
    .sphere path {
        stroke-width: .4px;
    }
}




/*reponsive footer*/

@media only screen and (min-width: 877px) {
    #hero-text {
        text-align: left
    }
}


@media (max-width: 1100px) {
    #footer-content-wrapper {
        flex-direction: column;
    }

    #footer-content-wrapper {
        justify-content: center;
    }



    #footer-copyright-wrapper,
    #footer-info-wrapper {
        margin: 90px 0;
    }
}


@media (max-width: 600px) {





    #footer-pages-links,
    #footer-social-links {
        text-align: center;
        gap: 10px
    }

    #social-links-wrapper-f {
        justify-content: center;
    }




    #footer-img {
        margin: 0 auto
    }

    #footer-block-1 {
        padding-right: 0;
    }

    .address-info {

        margin: 0 auto
    }

    #footer-block-2,
    #footer-block-4 {

        border-left: none;
    }



    #footer-block-2,
    #footer-block-3,
    #footer-block-4 {
        padding-top: 40px;
        text-align: center;
        border-top: 3px solid white;
        gap: 20px
    }


    #footer-block-3 {
        text-align: left;
        margin: 0;

    }

    #footer-copyright-wrapper,
    #footer-info-wrapper {
        flex-direction: column;
        gap: 50px;
        margin: 30px 0
    }

    #footer-copyright-wrapper {
        padding: 0
    }

    #footer-info-wrapper {
        padding: 0
    }




}




/*end reponsive footer*/

@import "tailwindcss";